<% layout("/layouts/boilerplate") %>

    <div class="row mt-3"></div> 

    <h1 class="col-6 offset-3">Login to Tour-Guide</h1><br><hr>

        <div class="col-6 offset-3" >
            <form action="/login" method="POST" class="needs-validation" novalidate>

                <div class="mb-3">
                    <lable for="username" class="form-label">Username</lable>
                    <input name="username" id="username" type="text" class="form-control" required> 
       

                   
    
                            <div class="mb-3">
                                <lable for="password" class="form-label">Password</lable>
                                <input name="password" id="password" type="text" class="form-control" required> 
            <br>
            
        <div>
            <button class="btn btn-success">
            Login
            </button>
        </div>

            </form> <br><br><hr>
        </div>
    </div>
